
/* Colores */
$blanco: #ffffff;
$negro: #000000;
$azul: #114AC6;
$azul_bajito: #437DFC;
$btn_danger: #FC5050;
$btn_danger_hover: #FF7070;
$btn_secondary: #7F8090;
$success: #3C8146;
$warning: #C4B906;
$danger: #FC5050;